<!-- Link in our home css file. Any styling that is only for home should be in this file. Like div styling for headers and stuff.!-->
<!-- Home Component Imports!-->
<link rel="stylesheet" href="./css/views/home.css">

<!-- Section to create the big picture that is displayed on the homepage.!-->
<section style="position:absolute; top: 49px; width:100%; height:calc(100vh); padding:0;">
	<div class="image">
		<img src="assets/Images/cloud_banner.jpg" style="width:100%; height: calc(100vh);"/>
		<h2>
			<span>
				DataRain matches easy to use cloud solutions with prompt and personable support to develop solutions that fit your business needs.
			</span>
		</h2>
	</div>
</section>

<!-- Section for general home content !-->
<section id="homeContent" style="position:relative; margin:auto; margin-top:calc(100vh + 55px); width:60%;" class="font-style">
	<img src="assets/Images/logo.jpg" style="margin:auto"/>
	<hr/>
	<center style="text-align:left;" >
		<h3 class="home-content-header">
			We Understand Small and Medium Businesses
		</h3>
		<div class="home-content">
			The days of managing expensive server rooms are over. Our experts make it easy for small and medium businesses by providing an understandable, affordable, and efficient cloud solution to your business needs. Our data storage and computing options are highly customizable, allowing you to save money by only purchasing the services you really need.
		</div>
		<h3 class="home-content-header">
			Customized Solutions
		</h3>
		<div class="home-content">
			Data storage/data backup, Computing & memory.
		</div>
		<h3 class="home-content-header">
			Scalable
		</h3>
		<div class="home-content">
			Supports everything from small web-apps to multi-rack systems.
		</div>
		<h3 class="home-content-header">
			Transparent
		</h3>
		<div class="home-content">
			Monthly service reports emailed directly to your company.
		</div>
	</center>
</section>

<!-- Where can you find us section. Includes a google map directive that loads a google map centered on  kansas cite !-->
<div style="background-color:#4CAF50;">
	<section style="position:relative; margin:auto; width:60%;">
		<center style="text-align:left;">
			<h1 class="home-section-header" style="color:white">
				Where can you find us on the map?
			</h1>
			<hr/>
			<div my-map="" style="height:400px; max-width:900px; margin:20px 0px 20px 0px"></div>
			<h3 class="home-content-header" style="color:white">
				Centrally Located
			</h3>
			<div class="home-content" style="color:white">
				Kansas City, Missouri.
			</div>
		 	<h3 class="home-content-header" style="color:white">
				Infrastructure
			</h3>
			<div class="home-content" style="color:#FFFFFF">
				State of the art servers with direct fiber internet connections.
			</div>
		</center>
	</section>
</div>

<!-- Contact information section !-->
<section style="position:relative; margin:auto; width:60%;">
	<center style="text-align:left;">
		<h1 class="home-section-header">
			Need to get a hold of us?
		</h1>
		<hr/>
		<h3 class="home-content-header">
			Friendly Support & Engineering
		</h3>
		<div class="home-content" style="color:#727272">
			U.S. based and available during business hours or by appointment.
		</div>
		<h3 class="home-content-header">
			Contact Us
		</h3>
		<div class="home-content" style="color:#727272">
			For any more information, please direct your emails to us at: <span style="color:#81D275">sales@datarain.xyz</span> or call us at our toll free number <span style="color:#81D275">1-(888)-906-0635</span>. <br/>We look forward to hearing from you.
		</div>
	</center>
</section>