<header id="navbar" class="navSection">
    <ul id="navbarList">
        <li>
            <a href="#/">
               Home    
            </a>
        </li>
        <li>
            <a href="#/photography">
                Photography
            </a>
        </li>
        <li>
            <a href="#/projects">
                Projects
            </a>
        </li>
        <li>
            <a>
                <div ng-click="navbar.toggleKnowledgeBaseList()">
                    Knowledge Base
                </div>
                <div id="knowledgeBaseList" style="display:none; position:absolute; top:55px;">
                    <div class="knowledge-base-link" ng-click="changeLocation('/knowledgebase/angularjs')">
                        AngularJS
                    </div>
                    <div class="knowledge-base-link" ng-click="changeLocation('/knowledgebase/nodejs')">Node.JS</div>
                </div>
            </a>
        </li>
    </ul>
</header>
