<header id="navbar" class="navSection">
    <center>
        <h1 class="logo">
            KyleDerosha.xyz
        </h1>
    </center>
</header>
<nav class="navbar navbar-default" style="width:75%; margin:auto">
    <div class="container-fluid">
         <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/">Home</a>
                </li>
                <li>
                    <a href="#/blog">Blog</a>
                </li>
                <li>
                    <a href="#/photography">Photography</a>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Knowledge<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">MEAN Stack</li>
                        <li><a href="#/knowledgebase/mongodb">MongoDB</a></li>
                        <li><a href="#/nodejs-tutorial">Node.JS</a></li>
                        <li><a href="#/angularjs-tutorial">AngularJS</a></li>
                        <li><a href="#/expressjs-tutorial">ExpressJS</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Javascript/Jquery Tips</li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Web Design</li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">HTML</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#/donate">Donate</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">School</li>
                        <li><a href="#/baer-project">BAER</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Personal</li>
                        <li><a href="https://datarain.xyz">Datarain</a></li>
                    </ul>
                </li>
            </ul>
            <!-- anything that should float right on the navbar.!-->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/knowledgebase">
                        Knowledge Base                        
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>