@media (max-width: 767px) {
	.home-image-container{
		width:100%;
		height:calc(100vh - 181px);
		overflow: hidden;
	}
	.home-image{
		width:100%;
	}
}
@media (min-width: 768px) {
	.home-image-container{
		width:100%;
		height:calc(100vh - 61px);
		overflow: hidden;
	}
	.home-image{
		width:100%;
	}
}