.navbar-custom{
	background:#007CE8;
}
.navbar-link-container{

}
.navtablecell{
	display:table-cell;
	color:white;
	font-size:2em;
	text-align:center;
	padding:10px 0px;
	white-space: nowrap;
	border-bottom:2px solid white;
}
.navtablecell:hover{
	border-bottom:2px solid #00E874;
	background-color:00FFFF;
}
a:link {
    text-decoration: none;
    color:white
}

a:visited {
    text-decoration: none;
    color:white
}

a:hover {
    text-decoration: none;
    color:white;
}

a:active {
    text-decoration: none;
    color:white;
}