.navbar-custom{
	background:#333;
	color:#2ecc71;
}
.navbar-link-container{

}
.navtablecell{
	display:table-cell;
	font-size:2em;
	text-align:center;
	padding:10px 0px;
	white-space: nowrap;
	text-decoration: none;
	cursor:pointer;
}
.navtablecell span:hover{
	border-bottom:2px solid white;
	background-color:00FFFF;
	text-decoration: none;
}
@media (max-width: 992px) {
  .filler {
    display: none;
  }
}