.row-container{
	width:100%;
	border-bottom:1px solid #2ECC71;
	display:inline-block;
}
@media (min-width: 992px) {
	.info-container{
		background-color:#333;
		padding:calc(3vh) 0px;
		width:50%;
		font-size:1.75em;
	}
}
@media (min-width: 0px) {
	.info-container{
		background-color:#333;
		padding:calc(3vh) 0px;
		width:100%;
		font-size:1.5em;
	}
}
.school-section{
	color: #5389E3;
}
.project-section{
	color: #E3CB3C;
}
.work-section{
	color:#D95E82;
}
.half-height{
	height:calc(50vh - 28px);
}
