<section style="width:70%; margin:auto">

	<div style="width:50%; margin:20px auto;padding:20px;border:2px solid red;">
		<h1 style="color:red; text-align: center;">
			WARNING!
		</h1>
		I am more or less trying to provide cheat sheet like information on some of the MongoDB knowledge I currently have. It was originally just going to be for me but I figured I could put it on the internet for everyone to use and reference. <a style="color:blue" href="https://docs.mongodb.org/manual/">MongoDB Documentation</a> provides clear documentation about everything to do with MongoDB and if anything I have on this site is unclear you should direct your attention to their <a style="color:blue" href="https://docs.mongodb.org/manual/">MongoDB Documentation</a>.
	</div>
	<h1>
		A general introduction to MongoDB
	</h1>
	<div>
		MongoDB is a database sure, okay cool so I can store data on a computer. That's nice, but why would I use MongoDB? Well, MongoDB uses a different concept of database technology. It uses this idea of NoSQL. In the past MySQL was by far the most used database technology. Using SQL however comes with a few things that you have to keep in mind. Different parts of your data should have relationships between each other. It becomes very complicated storing none relational data inside tables and therefore SQL becomes overly complicated for what you are trying to accomplish and that is just storing data.
	</div>
	<h3>
		<a style="color:blue;" href="https://www.mongodb.com/nosql-explained">NoSQL Databases Explained</a>
	</h3>
	<h1>
		Connecting to MongoDB
	</h1>
	<p>
		In this section I assume you already have MongoDB installed onto your system that you are currently working with. If you need help installing MongoDB you can read into their documentation. I have found it easy to follow. <a style="color:blue" href="https://docs.mongodb.org/manual/installation/">Learn to install MongoDB.</a>
	</p>
	<p>
		To start up mongo and be able to connect to it you have to first open a terminal window. There are different ways to do this depending on the system you are using. Now once you have the terminal open you can start by typing into your terminal window the command <pre class="code-snippet">mongo</pre>.
	</p>
	<h1>
		How to query data in MongoDB
	</h1>
	<p>
		First things first. We have to switch to the database that we are trying to query from. 
	</p>
	<pre class="code-snippet">use *database_name*</pre>
	
</section>